<div>
    {{#each data}}     
        <div class="mensajesDiv">
            <p class="email">{{this.mail}} </p>
            <span class="horario">[{{this.horario}}]</span>
            <p class="mensaje">:{{this.mensaje}}</p>
        </div>
    {{/each}} 
</div>