<div>
    {{#each data}}     
        <div class="mensajesDiv">
            <p class="email">{{this.autor.id}}</p>
            <p class="horario"> [{{this.time}}] </p>
            <p class="mensaje">:{{this.text}}</p>
            <img src={{this.autor.avatar}} alt="" height="50px">
        </div>
    {{/each}} 
</div>