<div class="alert alert-primary" role="alert">
    <h2><i> Hasta Luego! </i></h2>
    <button class="btn btn-primary" onclick="location.href='/'">Inicio</button>
    </div></button>
</div>

<style>
    body{
        text-align: center;
        padding-top: 50px;
    }
</style>