<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: salmon;color: white;">
        <h1>usuario o contraseña invalidos</h1>

        <button class="btn btn-warning my-5" onclick="location.href='/'">login</button>
    </div>

</div>

