<div>
    <h1>random</h1>
    <div>
       {{#each numeros}}
         <p>{{this}}</p>
        {{/each}}
    </div>
</div>

<style>
    body{
        background-color: black;
        color: white;
    }
</style>